.DS_Store
.idea/
logging.txt
testfile
velocity.log*
pom.xml*
!pom.xml
release.properties
**/.classpath
**/.factorypath
**/.project
**/.settings
**/*.ipr
**/*.iws
**/*.prefs
**/target
**/*.iml
**/*.log
**/*.log.*
**/main/resources/version.properties
